<footer class="footer">
	  <div>
	      <!-- <hr style="margin-bottom:5px !important; margin-top:0px !important; " /> -->
	      <div class="container" style="padding-top:10px">

    	      <a href="https://github.com/alanpapalia" target="_blank" style="padding:30px">
                <i class="fa fa-github fa-lg"></i>
    	      </a>

    	      <a href="//www.linkedin.com/in/alan-papalia-06883b105" target="_blank" style="padding:30px">
                <i class="fa fa-linkedin fa-lg"></i>
    	      </a>

            <a href="mailto:alanpapalia@gmail.com" target="_blank" style="padding:30px">
                <i class="fa fa-envelope fa-lg"></i>
    	      </a>

        </div>
    </div>



</footer>
